body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.clock {
    width: 80vmin;  /* 画面の幅に応じてサイズ調整 */
    height: 80vmin; /* 画面の高さに応じてサイズ調整 */
    border: 2vmin solid black;
    border-radius: 50%;
    position: relative;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: 0% 0%;
    transform: translate(-50%, 0%);
}

.hour {
    width: 30%;
    height: 8px;
    background-color: black;
}

.minute {
    width: 40%;
    height: 6px;
    background-color: grey;
}

.second {
    width: 45%;
    height: 4px;
    background-color: red;
}

#digitalClock {
    font-size: 8vmin; /* ビューポートに応じてフォントサイズを調整 */
    color: #333;
    text-align: center;
}
